body{	
    background-color: gray;
    margin: 0;
    font-family: "Comic Sans MS";
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headchildren{
    margin-top: 20px;
    width: 25%;
    height: 100px;
    text-align: center;
    font-size: 50px;
}
h1{
    font-size: 100px;
    text-align: center;
}
.fun{
    display: flex;
    font-size: 100px;
    width: 150px;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media screen and (max-width: 1500px) {
    .head{
        flex-direction:column-reverse;
        align-items: center;
    }
    .headchildren{
        width: 300px;
    }
}
